:root {
  --color-primary: #757575;
  --color-secondary: #bdbdbd;
  --color-error: #f44336;
  --color-background: #ffffff;
  --color-text: #4d4d4d;
  --color-subtext: #757575;
  --color-divider: #bdbdbd;
}

html {
  background: #4a90e2;
  background: url(image/background.webp) center / cover no-repeat;
  color-scheme: light;
  font:
    16px/1.5 -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    "Noto Sans JP",
    "Yu Gothic",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin: auto;
  padding: 20px 0;
  width: 360px;
}

.info-container {
  display: flex;
  gap: 10px;
  margin: 0 auto 20px;
}

.bubble {
  background: #ffffff10;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  box-shadow:
    inset 0 0 10px #ffffff40,
    inset 0 0 20px #ffffff80;
  height: 120px;
  width: 120px;
}

.fruits-container {
  border-color: #a06c30;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  height: 480px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.fruits-box {
  background: #4caf50;
  background: linear-gradient(#1b5e2080, #4caf5080, #cddc3980, #fff59d80);
  backdrop-filter: blur(15px);
  bottom: -5px;
  height: 100%;
  left: -10px;
  position: absolute;
  right: -10px;
  width: 370px;
}

.evolution-box {
  background: #4caf50;
  background: linear-gradient(#4caf5080, #1b5e2080);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  right: 120px;
}

.evolution-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.evolution-items li {
  background: #ffffff80;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
