:root {
  --color-primary: #757575;
  --color-secondary: #bdbdbd;
  --color-error: #f44336;
  --color-background: #ffffff;
  --color-text: #4d4d4d;
  --color-subtext: #757575;
  --color-divider: #bdbdbd;
}

html {
  background: black;
  color-scheme: light;
  font:
    16px/1.5 -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    "Noto Sans JP",
    "Yu Gothic",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  background: #4a90e2;
  background: linear-gradient(#b3cde0, #70c1b3, #4a90e2);
  display: flex;
  min-height: 100vh;
  min-width: 960px;
}

.world {
  margin: auto;
  position: relative;
  width: 960px;
}

.fruits-container {
  border-color: #a06c30;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-radius: 0 0 5px 5px;
  height: 640px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 400px;
}

.fruits-box {
  background: #4caf50;
  background: linear-gradient(#1b5e2080, #4caf5080, #cddc3980, #fff59d80);
  bottom: -10px;
  height: 650px;
  left: -10px;
  position: absolute;
  right: -10px;
  width: 420px;
}

.score-box {
  background: #a06c30;
  border-radius: 20px;
  height: 200px;
  position: absolute;
  left: 20px;
  top: 0;
  width: 200px;
}

.ranking-box {
  background: #a06c30;
  border-radius: 20px;
  bottom: 0;
  height: 400px;
  position: absolute;
  left: 20px;
  width: 200px;
}

.next-box {
  background: #ffffff10;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  box-shadow:
    inset 0 0 10px #ffffff40,
    inset 0 0 20px #ffffff80;
  height: 200px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 200px;
}

.evolution-box {
  background: #4caf50;
  background: linear-gradient(#4caf5080, #1b5e2080);
  border-radius: 20px;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  right: 120px;
}

.evolution-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.evolution-items li {
  background: #ffffff80;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
